{% extends 'NSLife/layout.html' %}

{% block body %}
    <div class="container">
        <form id="exercise-form" class="row g-3" action="{% url 'edit_exercise' exercise.id %}" method="post">
            {% csrf_token %}
            {% if exercise.type == "ippt" %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="exercise-type" id="ippt-input" value="ippt" checked disabled>
                    <label class="form-check-label" for="ippt-input">IPPT</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="exercise-type" id="nsfit-input" value="nsfit" disabled>
                    <label class="form-check-label" for="nsfit-input">NS FIT</label>
                </div>
                <select name="locations" class="form-select" required>
                    <option selected disabled hidden value="{{ exercise.location }}">Original Location: {{ original_location }}</option>
                    <option value="maju-fcc">Maju FCC</option>
                    <option value="kranji-fcc">Kranji FCC</option>
                    <option value="khatib-fcc">Khatib FCC</option>
                    <option value="bedok-fcc">Bedok FCC</option>
                </select>
                <div id="score">
                    <label class="form-label">Score: (if IPPT has not been attempted, leave blank and update once attempted)</label>
                    <input type="number" name="exercise-score" max="100" min="0" value="{{ exercise.score }}">
                </div>
            {% else %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="exercise-type" id="ippt-input" value="ippt" disabled>
                    <label class="form-check-label" for="ippt-input">IPPT</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="exercise-type" id="nsfit-input" value="nsfit" checked disabled>
                    <label class="form-check-label" for="nsfit-input">NS FIT</label>
                </div>
                <select name="locations" class="form-select" required>
                    <option selected disabled hidden value="{{ exercise.location }}">Choose location: {{ original_location }}</option>
                    <option value="maju-fcc">Maju FCC</option>
                    <option value="kranji-fcc">Kranji FCC</option>
                    <option value="khatib-fcc">Khatib FCC</option>
                    <option value="bedok-fcc">Bedok FCC</option>
                    <option value="bishan-park">Bishan-Ang Mo Kio Park</option>
                    <option value="marina-bay">Marina City Gallery @ Marina Bay</option>
                    <option value="punggol-park">Punggol Park</option>
                    <option value="home">FIT @ Home (Video Conference)</option>
                </select>
            {% endif %}

            <div>
                <label class="form-label">Edit Date and Time:</label>
                <input type="datetime-local" name="exercise-datetime" value="{{ date }}">
            </div>
            <div>
                <button type="submit" class="btn btn-warning">Edit Booking/Record</button>
            </div>
        </form>

        <!-- Modal -->
        <div>
            <button class="float-right btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete">Delete Booking/Record</button>
        </div>

        <div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteLabel">Are you sure you want to delete?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Clicking "Delete" will delete this record/booking and you will not be able to undo this action. Proceed?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="{% url 'delete_exercise' exercise.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        </div>

    </div>
{% endblock %}